.container {
    height: 100%;
    width: auto;
    display: block;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.logo_navbar_left img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0;
    margin-bottom: -40px;
}

.con {
    background-color: rgb(2, 2, 2);
    width: 100%;
}

.nav li a,
.dropdown .dropbtn {
    font-size: 1.8rem;
    font-family: "Maison Neue Bold", sans-serif;
    text-align: center;
    color: white;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px 10px 10px 10px;
    object-fit: cover;
}

li.menu-item-14,
li.menu-item-15,
li.menu-item-16,
li.menu-item-17,
li.menu-item-18,
li.menu-item-19 {
    content: '/';
    font-family: 'Avenir Next Regular';
    font-size: 1.8rem;
    font-weight: normal;
    padding: 0px 20px 0px 20px;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #ddd;
    left: -560%;
    right: -20px;
    overflow: visible;
    opacity: 0;
    transition: opacity 1s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.courses {
    padding: 10px 20px 0px 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.ceh,
.cpe {
    transition: transform .9s;
    font-size: 25px;
    cursor: -webkit-grab;
    cursor: grab;
}

.ceh:hover,
.cpe:hover {
    transform: translateX(35px);
}


/* Use a media query to add a breakpoint at 800px: */

@media screen and (max-width: 600px) {
    .logo_navbar_left {
        width: 100%;
    }
    li.menu-item-14,
    li.menu-item-15,
    li.menu-item-16,
    li.menu-item-17,
    li.menu-item-18,
    li.menu-item-19 {
        content: '/';
        font-family: 'Avenir Next Regular';
        font-weight: normal;
    }
}
