#aboutus_nav {
    text-decoration: none;
    background-color: inherit;
    transform: scale(1.3);
    text-shadow: 1px 1px white;
}

.maincontentaboutus {
    padding-left: 55px;
    padding-right: 20px;
}

.welcometo {
    font-size: 50px;
    font-family: Charcoal, sans-serif;
    font-weight: 500;
}

hr.rounded {
    border-top: 3px solid rgb(24, 19, 19);
    border-radius: 5px;
    width: 30%;
    margin-left: 0px;
}

.breifbutton {
    color: rgb(8, 6, 6);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid rgb(109, 106, 106);
    background-color: inherit;
}

.breifbutton:hover {
    opacity: 1;
    background-color: rgb(109, 106, 106);
    color: white;
}

.mahentechintro {
    padding: 10px;
    text-align: justify;
    font-size: larger;
    border-left: 6px solid rgb(54, 53, 53);
    background-color: rgb(219, 216, 216);
}

.mahentechdetails {
    text-align: justify;
    font-size: larger;
}