.maincontentcehpage {
    padding-left: 30px;
    padding-right: 10px;
}


/* Rounded border */

hr.rounded {
    border-top: 8px solid rgb(24, 19, 19);
    border-radius: 5px;
    width: 30%;
    margin: auto;
}

.grid-container-top {
    display: grid;
    grid-template-columns: 70% auto;
    padding-left: 30px;
    padding-right: 10px;
}

.grid-item-top {
    background-color: inherit;
    padding: 5px;
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
}

.grid-container-middle {
    display: grid;
    grid-template-columns: 70% auto;
    padding-left: 30px;
    padding-right: 10px;
}

.grid-item-middle {
    background-color: inherit;
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    padding-bottom: 25px;
}

.grid-container-bottom {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.grid-item-bottom {
    background-color: inherit;
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    padding-bottom: 25px;
}

.grid-container-bottom2 {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 50px;
    background-color: rgb(218, 216, 216);
    display: grid;
    grid-template-columns: 70% auto;
}

.grid-item-bottom2 {
    background-color: inherit;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
}

.video-embed {
    width: 400;
    height: 290;
}

.certificate-image {
    width: 450px;
    height: 400px;
}

.coursedetails {
    margin-left: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 20px;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.table {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    position: relative;
    overflow-x: auto;
    margin-bottom: 1.5em;
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #ccc;
    table-layout: auto;
    font-size: 20px;
    background-color: transparent;
    border-spacing: 0;
}

.table td {
    word-break: initial;
    padding: .5em 1em;
    border: 1px solid #ccc;
    background: #fff;
}