.container {
    height: 100%;
    width: auto;
    display: block;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
    margin-bottom: 12px;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.logo_navbar_left img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0;
    margin-bottom: -40px;
}

.con {
    background-color: rgb(2, 2, 2);
    width: 100%;
}

.nav li a,
.dropdown .dropbtn {
    font-size: 2rem;
    font-family: "Maison Neue Bold", sans-serif;
    text-align: center;
    color: white;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 10px 10px 10px 10px;
    object-fit: cover;
}

li.menu-item-1,
li.menu-item-0,
li.active,
li.menu-item-2,
li.menu-item-3,
li.menu-item-4,
li.menu-item-6,
li.menu-item-7 {
    content: '/';
    font-family: 'Avenir Next Regular';
    font-size: 1.8rem;
    font-weight: normal;
    padding: 0px 20px 0px 20px;
    display: block;
}

li.menu-item-5-mobile {
    display: none;
}

#cehimg,
#cpeimg {
    display: none;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #ddd;
    left: -690px;
    right: -20px;
    overflow: visible;
    opacity: 0;
    transition: opacity 1s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.courses {
    padding: 10px 20px 0px 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.ceh,
.cpe {
    transition: transform .9s;
    font-size: 25px;
    cursor: -webkit-grab;
    cursor: grab;
}

.ceh:hover,
.cpe:hover {
    transform: translateX(35px);
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav li.active {
    margin-bottom: 5px;
}

@media (max-width: 1110px) {
    .logo_navbar_left img {
        width: 20%;
        height: auto;
        display: block;
        margin: 0;
    }
    li.menu-item-5-mobile {
        display: block;
    }
    li.menu-item-4 {
        display: none;
    }
    header {
        height: 60px;
        padding: 15px 10px 0px 0px;
    }
    .container {
        padding-right: 5px;
    }
    .menu-toggle {
        display: block;
        font-size: 35px;
    }
    header nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
    }
    header nav.active {
        height: 100%;
        width: 90%;
        margin-top: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 1.5s;
        padding-top: 60px;
        box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.2);
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}